<div id="page_wrapper">
	

	<div id="content">
		<h1>Hey, I'm Angel Padilla</h1>
		
		<p>find me on Twitter <a href="http://twitter.com/elcanelaz">@elcanelaz</a> or on the web at <a href="http://angelpadilla.github.io/">Angel Padilla</a></p>
	</div>
</div>